[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

"sesam" = {path = ".", editable = true}


[dev-packages]

pytest = "*"
responses = "*"
twine = "*"
wheel = "*"
